:root {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0, 0.9);
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.25em;
}
body {
  display: flex;
  height: 100vh;
}

/* First column or row */
#changingContent {
  text-decoration: underline;
}
a {
  text-decoration: none;
}
i {
  font-size: 50px;
  color: #fff;
  margin: 1%;
}

/* Second column or row */
aside details {
  margin: 1%;
  user-select: none;
}
aside details>summary {
  font-size: 1.25em;
  list-style: none;
}
aside details>summary::after {
  content: " < ";
  color: lightgreen;
}
aside details[open]>summary::after {
  content: " x ";
  color: red;
}
aside details[open]>p {
  background-color: rgba(90, 87, 87, 0.4);
  padding: 3%;
}
aside div.card {
  position: absolute;
  right: 5px;
  margin-bottom: 5px;
  max-height: 270px;
  overflow: scroll;
  width: 48vw;
  text-align: center;
  padding: 1%;
  color: black;
  border-radius: 5px;
  background: rgb(255, 255, 255);
}
aside div.card p {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  body {
    justify-content: center;
    align-items: center;
  }
  aside {
    width: 50vw;
  }
  main {
    width: 50vw;
  }
  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

/* Changes for only mobile devices */
@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
    justify-content: space-around;
  }
  aside div.card {
    position: relative;
    width: 95%;
    padding: 5px;
    margin: 5px;
  }
}